@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    background-color: #19191a;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root
{
    --button-height: 40px;
    --button-width: 100px;
    --text-color: rgb(255, 255, 255);
}

.btn
{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 1px;
    border-radius: 0.5em;
    font-weight: bold;
    height: var(--button-height);
    width: var(--button-width);
    color: var(--text-color);
    background-color: #161618;
}

.btn:hover
{
    background-color: #030303;
}

.button-container {
    width: 310px;
    padding: 1em;
    border-style: solid;
    overflow-y: auto;
    color: #fff;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
}


.button-container-outside {
    width: 50px;
    padding: 1em;
    border-style: solid;
    color: #fff;
    border: none;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 90%;
    top: 0;
    display: block;
    justify-content: right;
    align-items: right;
}


.btn-outside
{
    font-family: "Open Sans", sans-seri;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    font-size: 14px;
    cursor: pointer;
    width: 60px;
    margin-bottom: 1px;
    border-radius: 0.5em;
    font-weight: bold;
}

h1,h2
{
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(134, 133, 133, 0.178);
    backdrop-filter: blur(10px);
    width: 303px;
    color: white
}

#back:hover
{
    background-color: #300000;
}

#equals:hover
{
    background-color: #003000;
}

#back
{
    background-color: #400000;
}

#equals
{
    background-color: #004000;
}